.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}

video#bgvid {
    position: static;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow-x: hidden;
}

#title-succes{
    position: absolute;
    bottom: 27vh;
    left: 1vh;
    color: white;
}
#mini-video{
    display: flex;
    position: absolute;
    bottom: 1vh;
    left: 1vh;
}
.video{
    width: 300px;
    height: 150px;
}
.video:hover{
    transform: scale(1.5);
}

#description {
    position: absolute;
    /* décollé de 50% du top */
    top: 50vh;
    font-weight: 100;
    color: white;
    padding: 2rem;
    /* width: 33%; */
    margin: 2rem;
    float: right;
    vertical-align: middle;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
}

.btn.btn-secondary{
    background-color: rgba(108, 117, 125, 0.6)!important;
}

.badge.badge-danger{
    border-radius: 50%;
    position: relative;
    right: 15px;
    bottom: 20px;
}

.dropdown-menu.dropdown-menu-right.bg-dark a{
    color: white;
}

.dropdown-menu.dropdown-menu-right.bg-dark a:hover{
    color: white;
    text-decoration: underline;
    background-color: transparent;
}